*{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: aqua;
}

.brand a {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links a{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: background-color 1s;
}

.nav-links a:hover{
    color: rgb(255, 255, 255);
    background-color: blue;
}

.nav-search {
    display: flex;
    gap: 1rem;
}

.nav-search input {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
}

.nav-search button {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: brown;
    color: white;
    cursor: pointer;
}

.nav-search button:hover {
    background-color: blue;
}